/* Reset body margin */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

#contrast-body {
    background-color: #E7DAC7;
}

/* Hero image */
.hero {
    width: 100%;
    max-height: 35vh;
    background-image: url('assets/images/hero_image.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Text overlay for hero image */
.hero h1 {
    color: #2affd1;
    font-size: 3em;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 25px;
}

#side-img {
    max-height: 1100px;
    width: auto;
}

/* Two-column layout */
.two-column {
    display: grid;
    grid-template-columns: 40% 60%;
    flex-wrap: wrap;
    padding: 20px;
    width: 80%;
    margin: auto;
    max-width: 1800px;
}

.single-column {
    padding: 20px;
    width: 80%;
    margin: auto;
    align-content: center;
}

.single-column h1 {
    text-align: center;
}

.image-section {
    text-align: center;
    margin-top: 20px;
}

.bordered-image {
    border: 10px solid #0000FF; 
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.radio-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.radio-row label {
    font-size: 1rem;
}

.column {
    flex: 1;
    padding: 10px;
}

/* Images and text styling */
.column img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.column p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Navigation code */
#logo-img {
    max-height: 175px;
    margin: 0;
}

.nav-items {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-left: 75px;
    margin-right: 75px;
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
nav a:hover {
    background-color: #46b19a;
}

nav {
    background-color: #5ac2ab;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    width: 100%;
    padding-bottom: 25px;
}

header {
    background-color: #5ac2ab;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
}

.logo h1 {
    font-size: 75px;
    color: white;
    display: flex;
    flex-direction: row;
    text-shadow: 3px 5px 8px black;
}


.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items h2 {
    font-size: 35px;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}

.nav-items .short-button {
    font-weight: bolder;
    font-size: 40px;
}

#head-title #C {
    margin-left: 25px;
}
#C {
    color: red;
}
#R {
    color: #1C8C00;
}
#A {
    color: yellow;
}
#P {
    color: #AE00FF;
}
#Q {
    color: #FF00A1;
}

#quiz-img {
    max-height: 80px;
}

#quiz-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

/* hero  */
.hero {
    height: 100vh;
    background-color: red;
    background-image: url("images/crowd.jpg");
}

/* Main content formatting */
section h1 {
    color: black;
}

section h2 {
    color:#5ac2ab;
}
section h3 {
    color: #ea6c43;
}

/* Image formatting */
#bottom-img {
    max-width: 50%;
    border-radius: 10px;
    display: block;
    margin: auto;
}

footer {
    margin-top: 10vh;
    min-height: 12vh;
    background-color: #7e8083;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#ref-nav {
    text-decoration: none;
}

#ref-nav h2{
    color: white;
    text-shadow: 3px 5px 8px black;
    background-color:#5ac2ab;
    border-radius: 15px;
    padding: 10px;
    margin: 35px;
    transition: padding .3s, background-color .3s;
    border: 1px solid black;
}

#ref-nav h2:hover {
    padding: 12px;
    background-color: #46b19a;
}

#ref-names {
    color: white;
    text-shadow: 3px 5px 8px black;
    margin: 35px;
    max-width: 450px;
    text-align: right;
}

@media only screen and (max-width: 1850px) {
    .two-column {
        width: 90%;
    }
  }

  @media only screen and (max-width: 1650px) {
    .two-column {
        width: 95%;
    }
  }

  @media only screen and (max-width: 1550px) {
    .two-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
  }

  @media only screen and (max-width: 1200px) {
    #bottom-img {
        max-width: 70%;
    }

    .full-button {
        display: none;
    }

    .nav-items .short-button {
        font-size: 60px;
    }
  }

  @media only screen and (max-width: 900px) {
    #side-img {
        max-width: 100%;
    }

    #ref-names {
        max-width: 350px;
        font-size: 17px;
    }

    .logo h1 {
        font-size: 65px;
    }

    .nav-items .short-button {
        font-size: 40px;
    }
    
    #logo-img {
        height: 135px;
    }

    #quiz-img {
        height: 65px;
    }
  }

  @media only screen and (max-width: 650px) {
    .column p {
        font-size: 15px;
    }

    #ref-names {
        max-width: 300px;
        font-size: 15px;
    }

    #ref-nav h2{
        border-radius: 15px;
        padding: 10px;
        margin: 5px;
        transition: padding .3s, background-color .3s;
        border: 1px solid black;
        font-size: 17px;
    }

    .logo h1 {
        font-size: 45px;
    }

    .nav-items .short-button {
        font-size: 35px;
    }
    
    #logo-img {
        height: 100px;
    }

    #quiz-img {
        height: 50px;
    }

    .logo {
        margin-bottom: -15px;
    }

    #head-title #C {
        margin-left: 15px;
    }
  }

  @media only screen and (max-width: 450px) {
    #ref-names {
        max-width: 200px;
        font-size: 13px;
        margin: 10px;
    }

    .logo h1 {
        font-size: 40px;
    }

    .nav-items .short-button {
        font-size: 35px;
    }

    .nav-items {
        margin: 20px;
    }
    
    #logo-img {
        height: 90px;
    }

    .logo {
        margin-bottom: -25px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .two-column {
        width: 90%;
    }

    #bottom-img {
        max-width: 90%;
    }
  }

  @media only screen and (max-width: 400px) {
    #ref-names {
        max-width: 175px;
    }

    .logo h1 {
        font-size: 35px;
    }

    #head-title #C {
        margin-left: 10px;
    }

    .nav-items .short-button {
        font-size: 30px;
    }

    #quiz-button {
        margin-left: 0;
    }

    .nav-items {
        margin: 15px;
    }
    
    #logo-img {
        height: 80px;
    }

    .logo {
        margin-bottom: -20px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .two-column {
        width: 90%;
    }

    #bottom-img {
        max-width: 90%;
    }
  }