/* Reset body margin */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

#contrast-body {
    background-color: #E7DAC7;
}

#quiz-body {
    background-color: #bff0df;
}

/* Hero image */
.hero {
    width: 100%;
    max-height: 35vh;
    background-image: url('assets/images/hero_image.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Text overlay for hero image */
.hero h1 {
    color: #2affd1;
    font-size: 3em;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 25px;
}

#side-img {
    max-height: 1100px;
    width: auto;
}

/* Two-column layout */
.two-column {
    display: grid;
    grid-template-columns: 40% 60%;
    flex-wrap: wrap;
    padding: 20px;
    width: 80%;
    margin: auto;
    max-width: 1800px;
}

.single-column, .interaction-panel {
    padding: 20px;
    width: 80%;
    margin: auto;
    align-content: center;
}

.contrast-p {
    color: rgb(57, 0, 57);
}

.single-column h1, .interaction-panel h2, .interaction-panel h3 {
    text-align: center;
}

.interaction-panel h3 {
    color: rgb(95, 95, 95);
}

.interaction-panel .paragraph {
    margin-bottom: 0;
}

.align-paragraph, .quiz-paragraph {
    margin-bottom: 200px;
    position: relative;
}

#slider-img {
    max-width: 250px;
    margin-top: 50px;
}

.interaction-panel .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control-section {
    text-align: center;
    margin-top: 20px;
    background-color: white;
    width: 700px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0px;
    margin-top: 0;
    border: 2px solid black;
}

.radio-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.radio-row #peach {
    background-color: #FFE5B4;
}

.radio-row #purple {
    background-color: rgb(57, 0, 57);
    color: whitesmoke;
}

.radio-row #yellow {
    background-color: yellow;
}

.radio-row #bold,  .radio-row #bold-quiz{
    font-weight: bold;
}

.radio-row #bolder, .radio-row #bolder-quiz {
    font-weight: 900;
}

#cat-big, #frog-big {
    display: none;
}

.radio-row label {
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.dropdown #arial1, .dropdown #arial2, .dropdown #arial3, #rep1 {
    font-family:Arial;
}

.dropdown #georgia1, .dropdown #georgia2, .dropdown #georgia3, #rep2 {
    font-family:Georgia;
}

.dropdown #trebuchet1, .dropdown #trebuchet2, .dropdown #trebuchet3, #rep3 {
    font-family:'Trebuchet MS';
}

.dropdown #yellow1, .dropdown #yellow2, #subhead1 {
    color: yellow;
}

.dropdown #black1, .dropdown #black2, #subhead2 {
    color: black;
}

.dropdown #white1, .dropdown #white2 {
    color: white;
}

#al3 {
    display: flex;
    position: relative;
    justify-content: center;
}

#al2 {
    display: flex;
    position: relative;
    justify-content: right;
}

#al1 {
    display: flex;
    position: relative;
    justify-content: left;
}

#left1, #left2, #left3 {
    text-align: left;
}

#center1, #center2, #center3 {
    text-align: center;
}

#right1, #right2, #right3 {
    text-align: right;
}

#blue {
    background-color: lightblue;
}

#red {
    background-color: darkred;
    color: whitesmoke;
}

#green {
    background-color: greenyellow;
}

#franklin1, #franklin2, #franklin3, #franklin4, #quiz-p1 {
    font-family: 'Franklin Gothic Medium';
}

#roman1, #roman2, #roman3, #roman4, #quiz-p2 {
    font-family: 'Times New Roman';
}

#verdana1, #verdana2, #verdana3, #verdana4, #quiz-p3 {
    font-family: Verdana;
}

#gill1, #gill2, #gill3, #gill4, #quiz-p4 {
    font-family: 'Gill Sans';
}

#quiz-text-font1, #quiz-text-font2, #quiz-text-font3, #quiz-text-font4 {
    max-width: 100px;
}

#h-white1, #h-white2, #h-white3, #h-white4, #quiz-h1 {
    color: white;
}

#h-blue1, #h-blue2, #h-blue3, #h-blue4, #quiz-h2 {
    color: darkblue;
}

#h-purple1, #h-purple2, #h-purple3, #h-purple4, #quiz-h3 {
    color: purple;
}

#h-orange1, #h-orange2, #h-orange3, #h-orange4, #quiz-h4 {
    color: orange;
}

#h-white1, #h-white2, #h-white3, #h-white4 {
    background-color: gray;
}

#h-orange1, #h-orange2, #h-orange3, #h-orange4 {
    background-color: gray;
}

.prox-graphic {
    display: none;
}

#prox1-1, #prox2-2, #prox3-3, #prox4-4 {
    display: block;
}

#ordered1, #unordered2 {
    display: none;
}

#quiz-p2 {
    display: flex;
    position: relative;
    justify-content: center;
}

#quiz-p3 {
    display: flex;
    position: relative;
    justify-content: right;
}

#quiz-left1, #quiz-left2, #quiz-left3, #quiz-left4 {
    text-align: left;
}

#quiz-center1, #quiz-center2, #quiz-center3, #quiz-center4 {
    text-align: center;
}

#quiz-right1, #quiz-right2, #quiz-right3, #quiz-right4 {
    text-align: right;
}

.dropdown {
    background-color: lightgray;
}

.submit {
    font-weight: bold;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color .3s, padding .3s;
}

.submit:hover {
    padding: 5px;
    background-color: #2affd1;
}

.change {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

#color-change, #list-change {
    padding-left: 20%;
    padding-right: 20%;
}

#quiz-rep {
    padding-left: 5%;
    padding-right: 5%;
}

.radio-row label, .radio-row input {
    cursor: pointer;
}

.column {
    flex: 1;
    padding: 10px;
    position: relative;
}

/* Images and text styling */
.column img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.column .contrast-img {
    max-width: 325px;
    border: 1px solid black;
}

.mini-contrast-img {
    max-width: 125px;
    border: 1px solid black;
    margin-top: 5px;
}

.column p {
    font-size: 1.2em;
    line-height: 1.6;
}

.control-section p {
    font-size: 1.1em;
}

/* Navigation code */
#logo-img {
    max-height: 175px;
    margin: 0;
}

.nav-items {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-left: 75px;
    margin-right: 75px;
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
nav a:hover {
    background-color: #46b19a;
}

nav {
    background-color: #5ac2ab;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    width: 100%;
    padding-bottom: 25px;
}

header {
    background-color: #5ac2ab;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
}

.logo h1 {
    font-size: 75px;
    color: white;
    display: flex;
    flex-direction: row;
    text-shadow: 3px 5px 8px black;
}


.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items h2 {
    font-size: 35px;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}

.nav-items .short-button {
    font-weight: bolder;
    font-size: 40px;
}

#head-title #C {
    margin-left: 25px;
}
#C {
    color: red;
}
#R {
    color: #1C8C00;
}
#A {
    color: yellow;
}
#P {
    color: #AE00FF;
}
#Q {
    color: #FF00A1;
}

#quiz-img {
    max-height: 80px;
}

#quiz-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

/* hero  */
.hero {
    height: 100vh;
    background-color: red;
    background-image: url("images/crowd.jpg");
}

/* Main content formatting */
section h1 {
    color: black;
}

section h2 {
    color:#5ac2ab;
}

.interaction-h2 {
    color: #247664;
}

.quiz-h2 {
    color: #502476;
}


section h3 {
    color: #ea6c43;
}

/* Image formatting */
#bottom-img {
    max-width: 50%;
    border-radius: 10px;
    display: block;
    margin: auto;
}

footer {
    margin-top: 10vh;
    min-height: 12vh;
    background-color: #7e8083;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#ref-nav {
    text-decoration: none;
}

#ref-nav h2{
    color: white;
    text-shadow: 3px 5px 8px black;
    background-color:#5ac2ab;
    border-radius: 15px;
    padding: 10px;
    margin: 35px;
    transition: padding .3s, background-color .3s;
    border: 1px solid black;
}

#ref-nav h2:hover {
    padding: 12px;
    background-color: #46b19a;
}

#ref-names {
    color: white;
    text-shadow: 3px 5px 8px black;
    margin: 35px;
    max-width: 450px;
    text-align: right;
}

.slider-container input[type="range"] {
    width: 100px;
    height: 20px;
    background: #ea6c43;
    border-radius: 50%;
    cursor: pointer;
}

.image-container {
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.image-container img {
    width: 1000px;
    position: absolute;
    left: 0;
    transition: left 0.1s ease;
    border-radius: 10px;
}

.good-bordered-image {
    border: 10px solid #ea6c43; 
    padding: 10px;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 1850px) {
    .two-column {
        width: 90%;
    }
  }

  @media only screen and (max-width: 1650px) {
    .two-column {
        width: 95%;
    }
  }

  @media only screen and (max-width: 1550px) {
    .two-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
  }

  @media only screen and (max-width: 1200px) {
    #bottom-img {
        max-width: 70%;
    }

    .full-button {
        display: none;
    }

    .nav-items .short-button {
        font-size: 60px;
    }
  }

  @media only screen and (max-width: 900px) {
    #slider-img {
        max-width: 200px;
    }
    #side-img {
        max-width: 100%;
    }

    #ref-names {
        max-width: 350px;
        font-size: 17px;
    }

    .logo h1 {
        font-size: 65px;
    }

    .nav-items .short-button {
        font-size: 40px;
    }
    
    #logo-img {
        height: 135px;
    }

    #quiz-img {
        height: 65px;
    }
  }

  @media only screen and (max-width: 800px) {
    .control-section {
        width: 500px;
    }

    .control-section h4 {
        font-size: 14px;
    }

    .change {
        padding-left: 5%;
        padding-right: 5%;
    }
  }

  @media only screen and (max-width: 650px) {
    #slider-img {
        max-width: 175px;
    }
    .control-section {
        width: 350px;
    }

    .control-section h4 {
        font-size: 13px;
    }

    .change {
        padding-left: 2%;
        padding-right: 2%;
    }

    .dropdown {
        width: 50px;
    }

    .column p {
        font-size: 15px;
    }

    #ref-names {
        max-width: 300px;
        font-size: 15px;
    }

    #ref-nav h2{
        border-radius: 15px;
        padding: 10px;
        margin: 5px;
        transition: padding .3s, background-color .3s;
        border: 1px solid black;
        font-size: 17px;
    }

    .logo h1 {
        font-size: 45px;
    }

    .nav-items .short-button {
        font-size: 35px;
    }
    
    #logo-img {
        height: 100px;
    }

    #quiz-img {
        height: 50px;
    }

    .logo {
        margin-bottom: -15px;
    }

    #head-title #C {
        margin-left: 15px;
    }
  }

  @media only screen and (max-width: 450px) {
    .control-section {
        width: 250px;
    }
    #ref-names {
        max-width: 200px;
        font-size: 13px;
        margin: 10px;
    }

    .logo h1 {
        font-size: 40px;
    }

    .nav-items .short-button {
        font-size: 35px;
    }

    .nav-items {
        margin: 20px;
    }
    
    #logo-img {
        height: 90px;
    }

    .logo {
        margin-bottom: -25px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .two-column {
        width: 90%;
    }

    #bottom-img {
        max-width: 90%;
    }
  }

  @media only screen and (max-width: 400px) {
    #ref-names {
        max-width: 175px;
    }

    .logo h1 {
        font-size: 35px;
    }

    #head-title #C {
        margin-left: 10px;
    }

    .nav-items .short-button {
        font-size: 30px;
    }

    #quiz-button {
        margin-left: 0;
    }

    .nav-items {
        margin: 15px;
    }
    
    #logo-img {
        height: 80px;
    }

    .logo {
        margin-bottom: -20px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .two-column {
        width: 90%;
    }

    #bottom-img {
        max-width: 90%;
    }
  }